@import ./_variables
  
.articleCard
  // border: 2px solid red
.articleCard *
  // border: 1px solid #000

.articleCard
  display: flex
  margin-bottom: 50px
  border-bottom: 2px solid rgba(#999, .4)
  padding-bottom: 30px
  .left
    flex: 1
  .right
    padding: 20px 30px
    flex: 3
  img
    +size(100%)
    object-fit: cover
  .title
    font-size: 2.5rem
    font-weight: 700
    color: #555
    margin-bottom: 1rem
  .content
    color: #999
    line-height: 2rem
    font-size: 1.2rem
  .icon
    +size(50px)
    border-radius: 50%
    overflow: hidden
    position: absolute
    bottom: -18px
    right: 10px
  .readmore
    left: 1rem
    text-decoration: underline
    color: #777
    font-size: 1.1rem
    font-weight: 400
    cursor: pointer
    font-style: italic

.title
  span
    font-size: 1rem
    color: #888
    &.publishedTime
      font-weight: 300
      left: 1rem
    &.tags
      margin: 25px
    &.tag
      font-weight: 400

#articles
  .readmore
    &:hover
      color: $color_main
