@import ./articleCard
@import ./_variables
  
#articles *
  // border: 1px solid #000

#articles
  .container
    width: 70%
    padding-top: 128px
  .loadmore
    text-align: center
    font-size: 1.5rem
    margin-bottom: 1.5rem
    cursor: pointer
  .panel
    margin-bottom: 30px
    // text-align: center
    padding: 30px 0px
    border-bottom: 2px solid rgba(#999, .7)
  .searchHint
    font-size: 2rem
    text-align: center
    margin-bottom: 1.5rem
    color: #999
    display: none
    &.show
      display: block
    
  .search
    display: inline-block
    img
      +size(27px, 100%)
      object-fit: contain
      opacity: 0.4
      position: absolute
      left: 14px
    input
      width: 300px
      font-size: 1.1rem
      border: 3px solid #999
      border-radius: 7px
      padding: 10px 12px
      padding-left: 47px
    .button
      border: 2px solid #999
      background-color: #999
      color: white
      cursor: pointer
      border-radius: 8px
      padding: 5px 8px
      position: absolute
      right: 0
      top: 50%
      transform: translate(125%, -50%)



