@import ./_variables
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap')


html, body
  margin: 0
  padding: 0
h1, h3, p
  margin: 0


*
  font-family: "Noto Sans", sans-serif
  position: relative
  .container
    padding: 0 30px
    margin: 0 auto
    // width: max(1024px)

h1.title
  font-size: 2.5rem
  font-weight: 700
  color: #888
  margin-bottom: 1.2rem
p.content
  color: #666
  font-size: 1.2rem
  margin-bottom: 1rem