/* * @author William Pan
 * * @contact williampan@zhelang.com.tw
 * */
/* * @author William Pan
 * * @contact williampan@zhelang.com.tw
 * */
#about .container {
  display: flex;
  align-items: center;
  padding-right: 0;
  width: 80%;
}
#about .left {
  flex: 2;
}
#about .right {
  flex: 1;
  background-color: #fafafa;
}
#about .subtitle {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 1.2rem;
}
#about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}