/* * @author William Pan
 * * @contact williampan@zhelang.com.tw
 * */
/* * @author William Pan
 * * @contact williampan@zhelang.com.tw
 * */
/* * @author William Pan
 * * @contact williampan@zhelang.com.tw
 * */
.articleCard {
  display: flex;
  margin-bottom: 50px;
  border-bottom: 2px solid rgba(153, 153, 153, 0.4);
  padding-bottom: 30px;
}
.articleCard .left {
  flex: 1;
}
.articleCard .right {
  padding: 20px 30px;
  flex: 3;
}
.articleCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.articleCard .title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #555;
  margin-bottom: 1rem;
}
.articleCard .content {
  color: #999;
  line-height: 2rem;
  font-size: 1.2rem;
}
.articleCard .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 10px;
}
.articleCard .readmore a {
  left: 1rem;
  text-decoration: underline;
  color: #777;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  font-style: italic;
}

.title span {
  font-size: 1rem;
  color: #888;
}
.title span.publishedTime {
  font-weight: 300;
  left: 1rem;
}
.title span.tags {
  margin: 25px;
}
.title span.tag {
  font-weight: 400;
}

#articles .readmore:hover a {
  color: #4665ff;
}

/* * @author William Pan
 * * @contact williampan@zhelang.com.tw
 * */
#articles .container {
  width: 70%;
  padding-top: 128px;
}
#articles .loadmore {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
#articles .panel {
  margin-bottom: 30px;
  padding: 30px 0px;
  border-bottom: 2px solid rgba(153, 153, 153, 0.7);
}
#articles .searchHint {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #999;
  display: none;
}
#articles .searchHint.show {
  display: block;
}
#articles .search {
  display: inline-block;
}
#articles .search img {
  width: 27px;
  height: 100%;
  object-fit: contain;
  opacity: 0.4;
  position: absolute;
  left: 14px;
}
#articles .search input {
  width: 300px;
  font-size: 1.1rem;
  border: 3px solid #999;
  border-radius: 7px;
  padding: 10px 12px;
  padding-left: 47px;
}
#articles .search .button {
  border: 2px solid #999;
  background-color: #999;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(125%, -50%);
}