.articleCard {
  display: flex;
  margin-bottom: 50px;
  border-bottom: 2px solid rgba(153, 153, 153, 0.4);
  padding-bottom: 30px;
}
.articleCard .left {
  flex: 1;
}
.articleCard .right {
  padding: 20px 30px;
  flex: 3;
}
.articleCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.articleCard .title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #555;
  margin-bottom: 1rem;
}
.articleCard .content {
  color: #999;
  line-height: 2rem;
  font-size: 1.2rem;
}
.articleCard .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 10px;
}
.articleCard .readmore a {
  left: 1rem;
  text-decoration: underline;
  color: #777;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  font-style: italic;
}

.title span {
  font-size: 1rem;
  color: #888;
}
.title span.publishedTime {
  font-weight: 300;
  left: 1rem;
}
.title span.tags {
  margin: 25px;
}
.title span.tag {
  font-weight: 400;
}

#articles .readmore:hover a {
  color: #4665ff;
}