@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Noto Sans", sans-serif;
  position: relative;
}
* .container {
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #4665ff;
}