.memberCard, .memberCard * {
  border: 1px solid red;
}

.memberCard {
  position: absolute;
  margin-right: 40px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
}
.memberCard img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}
.memberCard h1, .memberCard h3 {
  text-align: center;
}
.memberCard h1 {
  margin-bottom: 20px;
}

.memberCard.first, .memberCard.last {
  opacity: 0.4;
}
.memberCard.first {
  transform: translateY(-30px) rotateY(45deg) scale(0.95) skewY(5deg);
}
.memberCard.last {
  transform: translateY(-30px) rotateY(-45deg) scale(0.95) skewY(-5deg);
}