#navbar {
  width: 100%;
  z-index: 100;
  background-color: #4665ff;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 0.5);
  transition: top 0.3s;
}
#navbar .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
}

.links {
  padding: 10px 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
.links .link {
  margin-right: 50px;
}
.links .link:last-child {
  margin-right: 0;
}
.links .link a {
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  text-decoration: none;
  z-index: 2;
}

.link:hover a {
  color: #f5dc50;
}

#navbar.hide {
  transition: top 0.6s;
  transition-delay: 0.3s;
  top: -100%;
}